body {
    width: 50%;
    height: 60%;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 18px;
    background-color: black;
    background-image: url("images/pacman_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#header_names {
    color: white;
}


/* #header {
    width: 100%;
    background-image: url("pacman_by_r0maint_d2xp3ug-fullview.jpg");
    background-repeat: no-repeat;
    padding: 15px;
} */

#content {
    margin-top: 80px;
    /* border-style: solid; */
    place-items: center stretch;
    /* background-color: rgb(255, 255, 115); */
    background-color: rgba(255, 255, 255, 0.911);
    /* background-image: url('images/Untitled.png'); */
    border-radius: 15px;
    /* max-height: 600px; */
}


/* #welcomePage {
    background-color: rgb(236, 236, 41);
} */

button {
    cursor: pointer;
    align-self: center;
    background-color: black;
    background-color: rgb(70, 67, 67);
    color: rgb(231, 231, 82);
    padding: 18px 30px;
    margin: 10px 10px;
    border: none;
    opacity: 0.9;
    font-size: large;
    border-radius: 15px;
    font-family: 'Play', sans-serif;
}

button:hover {
    opacity: 0.5;
}

#myBtn {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.0);
    color: black;
    font-size: 20px;
    font-family: 'Play', sans-serif;
    opacity: 1;
}

#myBtn:hover {
    cursor: pointer;
}


/* menu-items */

ul {
    /* list-style-type: none; */
    /* height: 15px; */
    /* line-height: 5px; */
    margin: 10px;
    margin-top: 20px;
    /* padding: 0px; */
    background-color: rgb(231, 231, 82);
    color: black;
    font-size: 20px;
    border-radius: 15px;
    align-items: baseline;
}

li {
    display: inline;
    margin: 10px;
    cursor: pointer;
}

li:hover {
    font-weight: bold;
}

h1 {
    /* margin: 20px 0; */
    padding: 20px 0;
    font-size: 40px;
}

p {
    font-weight: normal;
}


/*welcome-page */

#welcomePage {
    background-color: black;
    border-radius: 15px;
}

#welcome_label {
    color: white;
}

#register_button,
#login_button {
    background-color: rgb(231, 231, 82);
    color: black;
    font-weight: bold;
    padding: 20px 35px;
    font-family: 'Play', sans-serif;
}

label {
    /* margin-left: 20px;
    margin-right: 20px; */
    margin: 10px 20px;
    /* text-align: left; */
}


/* register form */

#registerPage {
    width: 100%;
}

form {
    text-align: left;
    margin-left: 15%;
}

* {
    box-sizing: border-box
}


/* Add padding to containers */


/* .container {
    padding: 16px;
    max-width: 20px;
} */

input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type="number"],
select {
    width: 30%;
    padding: 12px;
    margin: 15px 5px 0 10px;
    display: inline-block;
    /* float: left; */
    border: solid 1px;
    border-color: #b1b1b1;
    background: #f1f1f1;
    border-radius: 10px;
}


/* label {
    display: inline-block;
    float: inherit
} */

span {
    /* display: inline-block; */
    overflow: hidden;
    padding: 0 4px 0 6px;
    margin-left: 30px;
}

select {
    width: 15%;
}


/* Overwrite default styles of hr */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Set a style for the submit/register button */

.registerbtn {
    /* padding: 16px 20px; */
    margin: 0 0 0 30%;
}

.registerbtn:hover {
    opacity: 1;
}


/* Set a grey background color and center the text of the "sign in" section */

#signin_from_register,
#register_from_login {
    background-color: rgba(0, 0, 0, 0.0);
    color: black;
    font-weight: bold;
    /* font-style: oblique; */
    text-decoration: underline;
    font-size: 22px;
    padding: 5px 5px;
}


/* login page */

.loginbtns {
    margin: 0 0 0 25%;
}


/* settings-page */

#settingsPage {
    margin-bottom: 15px;
    width: fit-content;
}

#up,
#down,
#left,
#right {
    width: 10%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=color],
input[value="#FFD700"] ​ {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 10px 0 0 0;
    display: inline-block;
}

input[type="number"] {
    width: 10%;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

select {
    width: 10%;
}


/* ABOUT */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: rgba(255, 255, 255, 0.911);
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 15px;
    line-height: 1.8;
    /* Could be more or less, depending on screen size */
}

#about_label {
    margin-bottom: 0;
    margin-top: 0;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

canvas {
    border-radius: 15px;
    width: 98%;
}

.errors {
    color: red;
    font-weight: bolder;
    min-height: 20px;
    margin-top: 0px;
    /* display: block; */
    font-size: 12px;
    /* height: 18px; */
}

#lblScore,
#lblTime {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
}

.inline,
.food_colors,
.arrows {
    display: inline-block;
    /* text-align: left; */
}

#choose_food_colors {
    font-weight: bold;
}

#scoreCanvas {
    font-size: 20px;
}

#newGame {
    padding: 10px 15px;
}

.show_settings {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 98%;
    margin-left: 8px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    /* height: 200px;
    margin-top: -200px; */
}


/* .footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    color: white;
} */