body {
    width: 50%;
    height: 60%;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-family: 'Play', sans-serif;
}


/* #header {
    width: 100%;
    background-image: url("pacman_by_r0maint_d2xp3ug-fullview.jpg");
    background-repeat: no-repeat;
    padding: 15px;
} */

#content {
    margin-top: 80px;
    /* border-style: solid; */
    place-items: center stretch;
}

button {
    cursor: pointer;
    align-self: center;
    background-color: #fffc56;
    color: black;
    padding: 10px 20px;
    margin: 8px 10px;
    border: none;
    opacity: 0.9;
}

button:hover {
    opacity: 0.5;
}


/* menu-items */

ul {
    list-style-type: none;
    margin: 10px;
    margin-top: 30px;
    padding: 0;
    background-color: white;
    font-size: 20px;
}

li {
    display: inline;
    margin: 10px;
    cursor: pointer;
}

li:hover {
    font-weight: bold;
}


/*welcome-page */

label {
    margin-left: 20px;
    margin-right: 20px;
}

#register,
#login {
    display: inline-block;
    /* margin-top: 200px; */
}


/* register form */

#registerPage {
    width: 100%;
}

* {
    box-sizing: border-box
}


/* Add padding to containers */


/* .container {
    padding: 16px;
} */

input[type=text],
input[type=password],
input[type=email],
select {
    width: 30%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

select {
    width: 15%;
}


/* Overwrite default styles of hr */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Set a style for the submit/register button */


/* .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
} */

.registerbtn:hover {
    opacity: 1;
}


/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f1f1f1;
    text-align: center;
}


/* settings-page */

#settingsPage {
    margin-bottom: 15px;
}

#up,
#down,
#left,
#right {
    width: 5%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}